
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ebf5eb;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #354a34; /* Dark Green */
    color: #ffffff;
  }
  .bg-2 {  
    background-color: #94ad93; /* Sage Green */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ddf2dc; /* Light Green*/
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .bg-5 { 
    background-color: #ddf2dc; /* Light Green */
    color: #354a34;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #354a34 !important;
  }
  